section {
    flex: 1 0 auto;
    position: relative;
    width: 100%;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.introSec {
    height: calc(100vh - 60px);
    min-height: 700px;
    height: 100vh;
    margin-top: -60px;
}

@media (max-width:991.98px) {
    .introSec {
        display: block;
        height: auto!important;
    }
}

.introSec .text,
.introSec .hBgImage {
    width: 50%;
}

@media (max-width:991.98px) {
    .introSec .text,
    .introSec .hBgImage {
        width: 100%;
    }
}

.introSec .intro {
    max-width: 450px;
    margin: 0 auto;
}

@media (max-width:991.98px) {
    .introSec .intro {
        max-width: 700px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.introSec .text h1 {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 700;
}

.introSec .text h3 {
    font-size: 16px;
    font-weight: 700;
}

.introSec .hBgImage {
    background-size: cover;
    background-position: center;
    min-height: 700px;
    position: relative;
    filter: saturate(0.5);
}

.acBtn {
    padding: 4px 19px;
    color: var(--secondary-color);
    position: relative;
    border: var(--secondary-color) 2px solid;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    cursor: pointer;
    border-radius: 0;
    margin-right: 20px;
}

.acBtn a {
    text-decoration: none;
}

.acBtn:hover {
    box-shadow: 8px 8px 0px var(--text-color), -8px -8px 0px var(--text-color);
}

.acBtn:hover .one {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.acBtn:hover .two {
    transform: translate3d(0px, 0px, 0px);
}

.acBtn:hover .three {
    transform: translate3d(0px, 0px, 0px);
}

.acBtn .ring {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    transform: translate3d(0px, 90px, 0px);
}

.acBtn .one {
    background-color: #000;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -4;
}

.acBtn .two {
    background-color: var(--primary-color);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -3;
}

.acBtn .three {
    background-color: var(--secondary-color);
    z-index: -2;
    transition: all 0.7s cubic-bezier(0.55, 0, 0.1, 1);
}

.buttonP {
    background: var(--secondary-color);
    color: var(--primary-color);
}

[data-theme="light"] .buttonP {
    color: #fff;
}

[data-theme="dark"] .buttonP {
    color: #000;
}

.buttonP:hover {
    color: var(--secondary-color);
}

[data-theme="light"] .buttonP:hover {
    color: #fff;
}

[data-theme="dark"] .buttonP:hover {
    color: #000;
}

.buttonH:hover {
    color: var(--primary-color)
}

@media (max-width:991.98px) {
    .introSec .hBgImage {
        height: 600px;
        min-height: 75vh;
        margin-bottom: 30px;
    }
}
