.siteHeader {
    top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.menuButton {
    color: var(--text-color);
    transition: all 0.3s ease;
}

.menuButton:focus,
.menuButton:hover {
    color: var(--text-color);
    box-shadow: unset;
    opacity: 0.8;
}

.menuButton svg {
    width: 2em;
    height: 2em;
    fill: var(--text-color-2);
    color: var(--text-color-2);
    pointer-events: none;
}

.navAc {
    padding: 5px 15px;
    margin: 0;
    border: unset;
    background: var(--primary-color);
    font-size: 1.25rem;
    font-family: Marcellus;
    color: var(--text-color-2);
    line-height: 2;
    height: 50px;
    font-weight: bold;
    z-index: 1000;
}

.navAc:hover {
    color: var(--text-color-2);
}

.brTop,
.brBottom,
.brRight,
.brLeft {
    position: fixed;
    z-index: 999999;
    background: var(--primary-color);
}

.brTop {
    top: 0;
    height: 10px;
    left: 0;
    width: 100%;
}

.brBottom {
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
}

.brRight {
    width: 10px;
    right: 0;
    top: 0;
    height: 100%;
}

.brLeft {
    width: 10px;
    left: 0;
    top: 0;
    height: 100%;
}

.siteNavigation {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
}

.menuOpened {
    visibility: visible !important;
}

.bgMenu {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    will-change: transform;
    transform: translateY(-100%);
    transition: .5s ease all;
}

.menuOpened .bgMenu {
    transform: translateY(0);
}

.menuWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden auto;
}

.theMenu {
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-left: 0;
}

@media (min-width: 992px) {
    .menuContainer {
        margin-left: 33.3333%;
    }
    .theMenu {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
}

.theMenu .menuItem > a {
    color: var(--text-color-2);
    line-height: 1;
    font-size: 2rem;
    display: inline-block;
    position: relative;
    transition: color 250ms cubic-bezier(0, 0, 0.58, 1) 0s;
    padding: 4px 0px;
    text-decoration: none;
    font-family: Marcellus;
    cursor: pointer;
}

.theMenu .menuItem > a:hover {
    color: var(--text-color-3);
}

@media (min-width: 768px) {
    .theMenu .menuItem > a {
        font-size: 4.8vw;
    }
}

.menuFooter {
    bottom: 0;
    font-family: Marcellus;
    font-size: 14px;
    background: var(--primary-color);
}

.menuFooter a {
    color: var(--text-color-2);
    margin-right: 10px;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0, 0, 0.58, 1) 0s;
}

.menuFooter a:hover {
    color: var(--text-color-3);
}
