.stickFollowIcon {
    top: 50%;
    left: 30px;
    width: 20px;
    height: 200px;
    position: fixed;
    margin-top: -100px;
}

.stickFollowIcon ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.stickFollowIcon svg {
    width: 1.3em;
    height: 1.3em;
    fill: var(--text-color)
}

.stickFollowIcon p {
    top: 70px;
    left: -24px;
    width: 68px;
    height: 20px;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    white-space: nowrap;
    position: relative;
    transform: rotate( -90deg);
}

.stickFollowIcon ul li {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    transition: all .3s;
}

.stickFollowIcon p:after {
    top: 9px;
    right: -48px;
    width: 40px;
    height: 1px;
    content: "";
    display: block;
    position: absolute;
    background-color: var(--text-color);
}

@media only screen and (max-width: 991px) {
    .stickFollowIcon {
        width: unset;
        height: unset;
        position: static;
        margin-top: unset;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        padding: 40px 0;
        align-items: center;
    }
    .stickFollowIcon p {
        top: unset;
        left: unset;
        width: unset;
        height: unset;
        white-space: nowrap;
        position: relative;
        transform: unset;
        font-size: 17px;
        margin-right: 65px;
    }
    .stickFollowIcon ul {
        margin-bottom: 20px;
    }
    .stickFollowIcon ul li {
        display: inline;
        margin-bottom: 29px;
        margin-right: 10px;
    }
}
